.has-background-new-primary{
    background-color: #FAAD80;
    color: beige;
}

.has-background-new-secondary{
    background-color: #FEFECC;
}

.has-background-new-tertiary{
    background-color: #FFEEBB;
}

.table .button{
    background-color: #FEFECC;
    color: #FAAD80 ;
    font-weight: bold;
}